ExpensesManagerUser/ExpensesManagerUser/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55294/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55294/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55294/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Transaction" />
      <xsd:import schemaLocation="http://localhost:55294/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_insertTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:insertTransaction" />
  </wsdl:message>
  <wsdl:message name="IService1_insertTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:getIncome" />
  </wsdl:message>
  <wsdl:message name="IService1_getIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:getExpense" />
  </wsdl:message>
  <wsdl:message name="IService1_getExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="IService1_getBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:reset" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTransactions" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="insertTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertTransaction" message="tns:IService1_insertTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertTransactionResponse" message="tns:IService1_insertTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getIncome" message="tns:IService1_getIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getIncomeResponse" message="tns:IService1_getIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getExpense" message="tns:IService1_getExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getExpenseResponse" message="tns:IService1_getExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBalance" message="tns:IService1_getBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBalanceResponse" message="tns:IService1_getBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reset" message="tns:IService1_reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetResponse" message="tns:IService1_reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllTransactions" message="tns:IService1_getAllTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllTransactionsResponse" message="tns:IService1_getAllTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTransaction" message="tns:IService1_UpdateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTransactionResponse" message="tns:IService1_UpdateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTransaction" message="tns:IService1_DeleteTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTransactionResponse" message="tns:IService1_DeleteTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertTransaction">
      <soap:operation soapAction="http://tempuri.org/IService1/insertTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIncome">
      <soap:operation soapAction="http://tempuri.org/IService1/getIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExpense">
      <soap:operation soapAction="http://tempuri.org/IService1/getExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://tempuri.org/IService1/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <soap:operation soapAction="http://tempuri.org/IService1/reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactions">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55294/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>